<div class="container">
  <div class="header__logo">
    <div class="header__logo-text">
      <div class="logo__line">
        <div class="logo__line-text first__line-text">ASYNC</div>
        <div class="first__line-symbols symbols symbols__first">
          > > > > > >
        </div>
      </div>

      <div class="logo__line" style="margin-top: 20px">
        <div class="second__line-symbols symbols symbols__second">
          <span>< < < < < < < </span>
        </div>
        <div class="logo__line-text second__line-text">RACE</div>
      </div>
    </div>
  </div>
  <div class="header__navigation-btns">
    <button
      (click)="garageBtnClick()"
      class="garageBtn"
      [ngClass]="activeRoute === 'garage' ? 'greenBtn' : 'redBtn'"
    >
      Garage
    </button>
    <button
      (click)="winnersBtnClick()"
      class="garageBtn"
      [ngClass]="activeRoute === 'winners' ? 'greenBtn' : 'redBtn'"
    >
      Winners
    </button>
  </div>
</div>
<router-outlet></router-outlet>
