@import url(https://fonts.googleapis.com/css?family=Kanit:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Codystar:300,regular);

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  text-align: center;
  width: 108px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
  &:disabled {
    cursor: default;
    opacity: 0.3;
  }
}

.arrows {
  font-family: "Kanit";
  max-width: 1000px;
  height: 24px;
  margin: 0 auto;
  font-size: 48px;
  letter-spacing: 4.5px;
  color: #fff;
  border-top: 0.5px solid #fff;
  border-bottom: 0.5px solid #fff;
  span {
    color: #a57680;
  }
}

.garage__container {
  border-top: 0.5px dashed #fff;
  border-bottom: 0.5px dashed #fff;
  min-height: 130px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 25px;
  border-left: 2px dotted #fff;
  border-right: 2px dotted #fff;
}

.garage__actions {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 20px;

  .race__actions {
    display: flex;
    gap: 10px;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .race-btn {
      border-radius: 10px;
      color: #8ec6cb;
    }

    .reset-btn {
      border-radius: 10px;
      color: #c691cd;
    }
  }

  .create-update__actions {
    display: flex;
    justify-content: space-between;
    width: 58%;
    gap: 25px;

    .c_u-input {
      display: flex;
      gap: 10px;

      mat-form-field {
        height: 70px;
      }

      .color-create_btn {
        width: 65px;
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        input,
        button {
          width: 65px;
          height: 24px;
        }
        input {
          border-radius: 3px;
        }
        button {
          height: 20px;
          font-size: 13px;

          &:disabled {
            background-color: #fff;
            opacity: 0.6;
          }
        }
      }
    }
  }
}

.example-full-width {
  width: 65%;
}

.generate-btn {
  border-radius: 10px !important;
  width: 80px;
  color: #8ec6cb;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: transparent;
  border: 3px solid;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}

.arrows-top {
  margin-bottom: -26px;
}

.arrows-bottom {
  margin-top: -1px;
}

.racing__line {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 1px;
}

.line__actions {
  width: 130px;
  display: flex;
  flex-direction: row;
  .car__actions {
    button {
      width: 70px;
      text-align: center;
      height: 30px;
      margin-left: 5px;
    }
    button + button {
      margin-top: 10px;
    }
  }
  .engine__actions {
    .green-btn {
      color: #8ec6cb;
    }
    .red-btn {
      color: #c691cd;
    }
    button {
      height: 30px;
      font-size: 12px;
      width: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button + button {
      margin-top: 10px;
    }
  }
}

.track {
  border-top: 2px dashed #fff;
  border-bottom: 2px dashed #fff;
  border-left: 1px dotted #a57680;
  border-right: 1px dotted #8ec6cb;
  width: 680px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-family: "Kanit";
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 3px;
    transform: rotate(90deg);
    font-style: italic;
  }

  h3 {
    font-family: "CodyStar";
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
  }

  .car-name {
    width: 500px;
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .stopped-sign {
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 50%;
    background-color: red;
    margin-left: -47px;
    cursor: pointer;
  }

  .start {
    color: #a57680;
    margin-top: 8px;
    margin-left: -15px;
  }
  .finish {
    margin-top: 14px;
    margin-right: -20px;
    color: #8ec6cb;
  }
}

.car {
  z-index: 10;
}

.garage__footer {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  font-family: "Kanit";
  color: #fff;
  padding-bottom: 50px;
  .garage-quantity {
    font-size: 30px;
    letter-spacing: 5px;
  }
}

.stop-warn {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
}

// * Responsive Design

@media (max-width: 1090px) {
  .garage__actions {
    .create-update__actions {
      gap: unset;
    }
  }

  .example-full-width {
    width: 58%;
  }

  .btn {
    width: 90px;
  }

  .c_u-input {
    gap: 8px;
  }
}

@media (max-width: 1010px) {
  .container {
    width: 900px;
  }

  .track {
    width: 575px;
    .stopped-sign {
      margin-left: 0px;
    }
  }

  .arrows {
    font-size: 42px;
  }
}

@media (max-width: 990px) {
  .track {
    width: 580px;
  }
}

@media (max-width: 899px) {
  .container {
    width: 800px;
  }

  .track {
    width: 475px;
  }

  .garage__actions {
    .race__actions {
      flex-direction: column;
      gap: 2px;
    }
    .create-update__actions {
      .c_u-input {
        .color-create_btn {
          width: 50px;
          input,
          button {
            height: 23px;
          }
          button {
            font-size: 12px;
          }
        }
      }
    }
  }

  .race-btn,
  .reset-btn {
    height: 24px;
    font-size: 15px;
    font-weight: 400;
    border: 2px solid;
  }

  .example-full-width {
    width: 55%;
  }

  .arrows {
    font-size: 36px;
  }
}

@media (max-width: 780px) {
  .container {
    width: 700px;
  }

  .garage__actions {
    width: 699px;

    .create-update__actions {
      width: 72%;
      .c_u-input {
        .color-create_btn {
          width: 50px;
          input,
          button {
            height: 21px;
          }
          button {
            font-size: 12px;
          }
        }
      }
    }

    .generate-btn {
      width: 65px;
      font-size: 11px;
      border: 2px solid;
    }
  }

  .line__actions {
    width: 102px;
    .car__actions {
      button {
        width: 60px;
        margin-left: 0;
        font-size: 12px;
      }
    }
    .engine__actions {
      button {
        width: 37px;
        mat-icon {
          margin-top: 4px;
          font-size: 19px;
        }
      }
    }
  }

  .car {
    svg {
      width: 85px;
    }
  }

  .track {
    width: 435px;
    .car-name {
      font-size: 22px;
      letter-spacing: 8px;
    }
  }

  .arrows {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .container {
    width: 670px;
    margin-left: 15px;
  }

  .garage__actions {
    width: 665px;
  }

  .example-full-width {
    width: 53%;
  }

  .btn {
    width: 80px;
  }

  .car {
    svg {
      width: 83px;
    }
  }

  .track {
    width: 405px;
  }

  .arrows {
    font-size: 28px;
  }
}
